<%- include("../../partials/authHeader") -%>

<div class="main-container">

	<section>
		<div class="container">
			<div class="row">
				<div class="form-error">
					<span>Something went wrong and the email was not sent</span>
				</div>
				<div class="form-success">
					<span>Sent!</span>
				</div>
			</div>
      <div class="row">
        <p class="bold col-sm-12">
          Invite List:
        </p>
      </div>
			<div class="row">
				<ol class="col-sm-12">
          <% invites.forEach(function(invite) { %>
            <% const rsvp = (locals.rsvps) ? locals.rsvps.find(rsvp => rsvp.guid === invite.guid) : null %>
						<% const hasRsvpd = (rsvp) ? true : false%>
            <li><% if (hasRsvpd) { %>&#10004; <% } %> <%= invite.names %> | <%= invite.email %> | <%= invite.number %> | <a href="<%=host%>/invite/<%= invite.guid %>">View Page</a> | <button type="button" name="sendInvite" class="btn-link send-invite"><input class="guid-hidden" type="hidden" value="<%= invite.guid %>" />Send Invite</button></li>
          <% }); %>
        </ol>
			</div>

      <br/><br/>

      <div class="row">
        <div class="col-sm-12">
            <button type="button" name="sendInvites" class="send-invites">Send Invite Emails</button>
            <button type="button" name="sendCustomEmail" data-toggle="modal" data-target="#customEmailModal">Send Custom Email</button>
        </div>
      </div>
    </div>
    
    <!-- Custom Email Modal -->
    <div class="modal" id="customEmailModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Send Email</h4>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <b>This will send to all invites!</b>
            <div class="form-group">
              <label for="subject">Subject:</label>
              <input type="text" class="form-control custom-subject" id="subject">
            </div>
            <div class="form-group">
              <label for="comment">Message:</label>
              <textarea class="form-control custom-message" rows="5" id="message"></textarea>
            </div>
          </div>
              
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="send-custom-email">Send</button>
            <button type="button" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
	</section>

<%- include("../../partials/footer") -%>
