<%- include("authHeader") -%>

<div class="main-container">

	<section>
		<div class="container">
      <div class="row">
        <p class="bold col-sm-12">
          Invite List:
        </p>
      </div>
			<div class="row">
				<ol class="col-sm-12">
          <% invites.forEach(function(invite) { %>
            <% const rsvp = (locals.rsvps) ? locals.rsvps.find(rsvp => rsvp.guid === invite.guid) : null %>
            <li><%= invite.names %> | <%= invite.email %> | <%= invite.number %> | <a href="<%=host%>/invite/<%= invite.guid %>">View Page</a> | <%= rsvp ? rsvp.guid : null  %></li>
          <% }); %>
        </ol>
			</div>

      <br/><br/>

      <div class="row">
        <div class="col-sm-12">
            <button type="button" name="sendInvites" class="send-invites">Send Invite Emails</button>
        </div>
      </div>
		</div>
	</section>

<%- include("footer") -%>
